body {
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /* prevent select text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* HEADER */

.header {
    font-size: 18vw;
    text-align: center;
    font-weight: 200;
}


/* INFO GAME  */

.info-game {
    display: flex;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.curWord {
    flex: 2;
    text-align: center;
    font-weight: 300;
    font-size: 7vw;
}

.score {
    flex: 1;
    text-align: right;
    font-size: 7vw;
    color: yellow;
}


/* GRID  */

.grid {
    border: solid 0.5vw white;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vw;
    width: 80vw;
    height: 80vw;
    touch-action: none;
}


/* CELL */

.cell-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    flex: 1 25%;
    box-sizing: border-box;
}

.cell {
    position: absolute;
    font-size: 13vw;
    font-weight: 200;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border */
    border: solid 0.5vw white;
}

.dot {
    position: absolute;
    width: 220%;
}

.pointer {
    position: absolute;
    z-index: 1;
    /* border: solid 0.5vw purple; */
}

.touch {
    position: absolute;
    height: 85%;
    width: 85%;
    z-index: 2;
    transform: rotate(45deg);
    /* border: solid 0.5vw yellow; */
}


/* INFO RESULT */

.info-result {
    font-size: 5vw;
}